* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #B33F62;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: black;
}

.flex-vertically {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-horizontally {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #B33F62;
}

.binding {
  width: 267px;
  height: 30px;
  background-color: #016FB9;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  position: relative;
  color: white;
  text-align: center;
  line-height: 2;
  letter-spacing: 1px;
}

.notepad {
  margin: 0 auto;
  transform: rotate(-2deg);
}

.ruler {
  width: 24px;
  height: 300px;
  margin-right: 1px;
  background-image: repeating-linear-gradient( 180deg, ghostwhite, ghostwhite 25px, white, #89AAE6, #89AAE6 10%);
  border-left: 1px solid black;
}

.paper {
  width: 240px;
  height: 300px;
  background-image: repeating-linear-gradient( 180deg, ghostwhite, ghostwhite 25px, white, #89AAE6, #89AAE6 10%);
  border-right: 1px solid black;
}

.todos {
  margin: 2rem 0 0 1rem;
  padding: 0 0 0 2rem;
  line-height: 1.8;
}

.todos li {
  font-weight: 700;
  text-transform: capitalize;
}