html,
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  border: none;
  background: #404099;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.flex-vertically {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-horizontally {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  border: none;
}

h1 {
  color: white;
}

.apple-calendar-icon {
  width: 8rem;
  height: 8rem;
  margin-right: 0.5rem;
  border-radius: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  background: white;
}

.apple-calendar-icon .weekday {
  position: relative;
  bottom: 2.75em;
}

.apple-calendar-icon .day {
  position: absolute;
}

.google-calendar-icon {
  width: 8rem;
  height: 8rem;
  margin-left: 0.5rem;
  border-radius: 1rem;
}

.google-calendar-icon .day {
  position: absolute;
  color: white;
}

p.weekday {
  color: red;
  font-size: 1rem;
  text-align: center;
  padding: 0;
}

p.day {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 5rem;
  font-weight: light;
}

.icon-half {
  width: 8em;
  height: 4em;
  z-index: 0;
}

.top-half {
  background-color: #3664cf;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.3);
  border-top: 0.25rem solid #d4d4d4;
}

.bottom-half {
  background-color: #4989f4;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}